/* HTML RULES */
html 
{
    background-color:  #DDDDDD;
    padding-top: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;    
}
/* BODY RULES */
body 
{
    background-color: #7FDBFF;
    
}

/* Static Navbar */
#navbar 
{
    background-color: whitesmoke;
    height: 5em; width: 100vw;
    position: fixed;
	top: 0em;
    
}
